<div class="container-fluid">
  <div class="row p-5">
    {{#each wrk}}
      <div class="col-md-3 m-auto">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Shop Name : {{this.wkinfo.sname}}</h5>
            <h5 class="card-title">Owner Name : {{this.userinfo.name}}</h5>
            <p class="card-text">{{this.wkinfo.address}}</p>
            <a href="/subadmin/activewrkers?wkid={{this.wkinfo._id}}&userid={{this.userinfo._id}}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>