<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div class="container-fluid">
  <div class="row p-5">
      {{#each jobs}}
    {{#if this.ctaccept}}
        <div class="col-md-12 m-auto p-5">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Shop Name : {{this.sname}}</h5>
                <h5 class="card-title">Licence Number : {{this.lno}}</h5>
                 <h5 class="card-title">Salary (one day) : {{this.salary}}</h5>
                 <h5 class="card-title">Work Starting Time {{this.stime}} To {{this.entim}}</h5>
                  <h5 class="card-title">Work Starting Date {{this.sdate}} To {{this.edate}}</h5>
              <p class="card-text">{{this.address}}</p>
               <td><a href="https://www.google.com/maps?q={{this.late}},{{this.long}}" class="btn btn-success">Location</a></td>
             {{#if isfull}}
                <p>Job requretment process done</p>
             {{else}}
                 <form action="/worker/applayjob?wkid={{this._id}}&userid={{this.userid}}" method="post" class="m-3">

                    <div>
                      <label for="">Select Your Own Time</label>
                        <select name="date" id="date" onchange="dat()">
                         <option value="no">Any Date</option>
                         <option value="yes">Prefered date</option>                   
                        </select>
                    </div> <br>
                    <div id="selectdate" style="display: none;">
                        <label for="preferredDates"><b>Choose Preferred Dates</b></label>
                        <input type="text" id="preferredDates" name="preferredDates" placeholder="Select dates" required>
                    </div>
                    <input class="btn-outline-warning" type="submit" value="Ready to join">
             </form>
             {{/if}}
            </div>
          </div>
        </div>
        <script>
          flatpickr('#preferredDates', {
        mode: 'multiple',
        dateFormat: 'Y-m-d',
         enable: [
        {
            from: '{{this.sdate}}',
            to: '{{this.edate}}'
        }
    ]
    });
        </script>
    {{/if}}
      {{/each}}
               {{#if succ}}
                    <p>{{succ}}</p>
               {{/if}}
               {{#if already}}
                    {{already}}
               {{/if}}
  </div>
</div>


<script>
  function dat()
  {
    console.log("callleddd")
     var selectedValue = document.getElementById("date").value;
             if(selectedValue == "yes")
             {
                    document.getElementById("selectdate").style.display = ""
             }
             else
             {
                 document.getElementById("selectdate").style.display = "none"
             }
  }
</script>